# Pandas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Pandas Date

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create Pandas Date object
pd.Timestamp('20130102')

In [ ]:
# Create date_range. Starting from 2013-01-01. Every 5 days. During 6 periods.
pd.date_range('20130101', periods=6, freq='5D')

In [ ]:
# Create date_range. From 2013-01-01 to 2018-01-01. Every 3 months
pd.date_range(start='2017-01-01', end='2018-01-01', freq='3M')

### Pandas Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create Pandas Series
# np.nan (Pandas null)
pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
# Create Pandas Series
pd.Series(1, index = list(range(4)), dtype = 'float32')

In [ ]:
# Change type
pd.Series(1, index = list(range(4)), dtype = 'float32').astype(int)

In [ ]:
# Check type
pd.Series(1, index = list(range(4)), dtype = 'float32').astype(int).dtype

### Pandas DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
values = np.random.randn(6, 4)
index_list = ['r' + str(i) for i in range(12) if i%2 == 0]
columns_list = list('ABCD')
pd.DataFrame(values, index=index_list, columns=columns_list)

In [ ]:
A = 1.
B = pd.Timestamp('20130102')
C = pd.Series(1, index = list(range(4)), dtype = 'float32')
D = np.array([3] * 4, dtype='int32')
E = pd.Categorical(['test', 'train', 'test', 'train'])
F = 'foo'
myDict = {'A':A, 'B':B, 'C':C, 'D':D, 'E':E, 'F':F }
pd.DataFrame(myDict)

In [ ]:
# Change column A type
pd.DataFrame(myDict)['A'].astype(int)

In [ ]:
# Check column A type
pd.DataFrame(myDict)['A'].dtype

### Viewing data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
values = np.random.randn(6, 4)
index_list = ['r' + str(i) for i in range(12) if i%2 == 0]
columns_list = list('ABCD')
df = pd.DataFrame(values, index=index_list, columns=columns_list)
df

In [ ]:
# By default: n = 5
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
type(df.index)

In [ ]:
df.index = ['t0', 't2', 't4', 't6', 't8', 't10']
df.index

In [ ]:
df.columns

In [ ]:
type(df.columns)

In [ ]:
df.columns = ['A', 'B', 'C', 'D']
df.columns

In [ ]:
df.values

In [ ]:
type(df.values)

In [ ]:
df.describe()

In [ ]:
df.T

### Setting

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dates = pd.date_range('20130101', periods=6) #By default: [freq: D]
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('ABCD'))
df

#### Get columns by label

In [ ]:
df.A
# [Alternatively: df['A']]

#### Get row by label

In [ ]:
df[0:3]

#### Get rows & columns (by label)

In [ ]:
df.loc[[dates[0], dates[3]],['A','B']]

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A','B']]

In [ ]:
df.loc['20130102':'20130104',['A','B']]

In [ ]:
df.loc['20130102',['A','B']]

In [ ]:
df.loc[dates[0],'A']

In [ ]:
df.at[dates[0],'A'] # Use at for faster access to a scalar

#### Get rows & columns (by position)

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5,0:2]

In [ ]:
df.iloc[[1,2,4],[0,2]]

In [ ]:
df.iloc[1:3,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.iloc[1,1]

In [ ]:
df.iat[1,1] # Use at for faster access to a scalar

## Set

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
values = np.arange(12).reshape(3, 4)
columns_list = ['A', 'B', 'C', 'D']
index_list = pd.date_range('20130102', periods=3)
df = pd.DataFrame(values, index = index_list, columns=columns_list)
df

In [ ]:
s = pd.Series([1,2,3], index=pd.date_range('20130102', periods=3))
s

In [ ]:
# Important: Notice how the index of the series and the dataframe are the same
df['E'] = s
df

In [ ]:
df.at[index_list[1],'A'] = 77
df

In [ ]:
df.iat[2,1] = 99
df

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))
#[Alternatively: df.loc[:,'D'] = 5]
df

In [ ]:
df2 = df.copy()
df2[df2 > 2.5] = -df2
df2

In [ ]:
df3 = df.copy()
df3[df3 > 2] = 9999
df3

In [ ]:
df4 = df.copy()
df4['B'][df4['B'] > 2] = 9999
df4

### Filter

In [1]:
import numpy as np
import pandas as pd
values = np.arange(24).reshape(6, 4)
columns_list = ['A', 'B', 'C', 'D']
index_list = pd.date_range('20130102', periods=6)
df = pd.DataFrame(values, index = index_list, columns=columns_list)
df

             A   B   C   D
2013-01-02   0   1   2   3
2013-01-03   4   5   6   7
2013-01-04   8   9  10  11
2013-01-05  12  13  14  15
2013-01-06  16  17  18  19
2013-01-07  20  21  22  23

In [9]:
df.loc[:, 'A'] > 0
df['A'] > 0
df.A > 0

2013-01-02    False
2013-01-03     True
2013-01-04     True
2013-01-05     True
2013-01-06     True
2013-01-07     True
Freq: D, Name: A, dtype: bool

In [11]:
df[df.A > 5]

             A   B   C   D
2013-01-04   8   9  10  11
2013-01-05  12  13  14  15
2013-01-06  16  17  18  19
2013-01-07  20  21  22  23

In [12]:
df[(df.loc[:, 'A'] > 0) & (df.D > 0.2)]

             A   B   C   D
2013-01-03   4   5   6   7
2013-01-04   8   9  10  11
2013-01-05  12  13  14  15
2013-01-06  16  17  18  19
2013-01-07  20  21  22  23

In [13]:
df[df>0]

               A   B   C   D
2013-01-02   NaN   1   2   3
2013-01-03   4.0   5   6   7
2013-01-04   8.0   9  10  11
2013-01-05  12.0  13  14  15
2013-01-06  16.0  17  18  19
2013-01-07  20.0  21  22  23

In [ ]:
df3 = df.copy()
df3['E'] = ['one', 'one','two','three','four','three']
df3[df3['E'].isin(['two','four'])]

### Drop column & Drop row

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
values = np.arange(12).reshape(3, 4)
columns_list = ['A', 'B', 'C', 'D']
index_list = pd.date_range('20130102', periods=3)
df = pd.DataFrame(values, index = index_list, columns=columns_list)
df

In [ ]:
# Drop columns
df.drop(columns=['B', 'C'])

In [ ]:
# Drop columns (same as above)
df.drop(['B', 'C'], axis=1)

In [ ]:
# Drop rows
df.drop(index=['b', 'c'])

In [ ]:
# Drop rows (same as above)
df.drop(['a', 'b'], axis=0)

In [ ]:
# Drop row (notice that by defaul 'axis=0') (same as above)
df.drop(['a', 'b'])

### Missing Data

In [ ]:
import pandas as pd
import numpy as np
index_list = ['a', 'b', 'c', 'd', 'e']
columns_list = ['A', 'B', 'C', 'D', 'E', 'F']
df = pd.DataFrame(np.arange(30).reshape(5,6), index = index_list, columns= columns_list)
df.loc[['a', 'c', 'd'], ['A']] = np.NaN
df.loc[['a', 'd'], ['E']] = np.NaN
df.loc['e'] = np.NaN
df

In [ ]:
# Drop rows with (at least) one missing value
df.dropna(how='any')

In [ ]:
# Drop rows with missing value in all the columns
df.dropna(how='all')

In [14]:
# Identify Missing Data
df.isna()  #[alternatively: pd.isna(df) ]

                A      B      C      D
2013-01-02  False  False  False  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False  False  False
2013-01-06  False  False  False  False
2013-01-07  False  False  False  False

In [ ]:
# Identify missing data
# [Same as above]
pd.isna(df)

In [ ]:
# Replace missing values by something
df.fillna(value=9)

In [ ]:
# Replace missing values by the one above
df.fillna(method='pad')

In [ ]:
# Replace missing values by the one above (with limit of one)
df.fillna(method='pad', limit=1)

### Change column and rows name

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})

In [ ]:
# Rename all columns
df1 = df.copy()
df1.columns = ['a', 'b']
df1

In [ ]:
# Rename all rows
df2 = df.copy()
df2.index = ['r1', 'r2']
df2

In [ ]:
# Rename column
df3 = df.copy()
df3.rename(columns={'B': 'BB'})

In [ ]:
# Rename row
df4 = df.copy()
df4.rename(index={1: 'a'})

In [ ]:
# Assing name to the rows index (rows index is also called index)
df5 = df.copy()
df5.index.names = ['index_name']
df5.index.names

In [ ]:
# Assign name to the columns index
df6 = df.copy()
df6.columns.names = ['index_name']
df6.columns.names

### Index

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'$a':[1, 2], '$b': [10,20]})
df

In [ ]:
# Reset index (keeping the old index as new column)
df1 = df.copy()
df1.reset_index()

In [ ]:
# Reset index without keeping the old index as column.
# By default: 'drop = False'
df1 = df.copy()
df1.reset_index(drop = True)

In [ ]:
# Set a column as index
df2 = df.copy()
df2 = df2.set_index('$a')
df2

In [ ]:
# Sort DataFrame by index (in desdending order)
# By default: 'ascending = True'
df.sort_index(inplace=True, ascending = False)
df

### Sorting

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
gapminder.head(2)

In [ ]:
# sort_values
gapminder.sort_values('lifeExp').head(2)

In [ ]:
# sort values [By default: 'ascending = True']
gapminder.sort_values('lifeExp',ascending=False).head(2)

In [ ]:
# sort_values
gapminder.sort_values('lifeExp',na_position='first').head(2)

In [ ]:
# [By default: 'inplace=True']
gapminder.sort_values('lifeExp', inplace=True, ascending=False)
gapminder.head(2)

In [ ]:
# sort_values
gapminder.sort_values(['lifeExp','gdpPercap']).head(2)

In [ ]:
# sort_index
gapminder.sort_index(inplace=True)
gapminder.head(2)

In [ ]:
# sortlevel
# df.sortlevel(level=['alpha','num'],ascending=[False,True])

### Suffle the rows

In [17]:
import numpy as np
import pandas as pd
list_values = [[1, 2, 3, 4],[5, 6, 7, 8],[9, 0, 1, 2],[3, 4, 5, 6]]
list_index = ['A','B', 'C', 'D']
list_columns = ['a', 'b', 'c', 'd']
df = pd.DataFrame(list_values, index = list_index, columns = list_columns)
print(df)
print()
print(df.sample(frac=0.75))

   a  b  c  d
A  1  2  3  4
B  5  6  7  8
C  9  0  1  2
D  3  4  5  6

   a  b  c  d
D  3  4  5  6
C  9  0  1  2
B  5  6  7  8

### DataFrame and series functions

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create data frame
values_array = np.arange(12).reshape((4, 3))
columns_list = list('abc')
rows_list = ['Utah', 'Ohio', 'Texas', 'Oregon']
df = pd.DataFrame(values_array, columns = columns_list, index = rows_list)
df

In [ ]:
# Three commands below are equivalents
df.mean()
df.mean(0)
df.mean(axis=0)

In [ ]:
# Two commands below are equivalents
df.mean(1)
df.mean(axis=1)

In [ ]:
# Apply string functions
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

### DataFrame(apply & applymap)  and Series(map)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create data frame
values_array = np.arange(12).reshape((4, 3))
columns_list = list('abc')
rows_list = ['Utah', 'Ohio', 'Texas', 'Oregon']
df = pd.DataFrame(values_array, columns = columns_list, index = rows_list)
df

In [ ]:
# Create functions
function_01 = lambda x: x.max()
function_02 = lambda x: x * x.max()
function_03 = lambda x: x * 10

In [ ]:
# Apply function_01 to each column
# function_01: Input: column / series
# function_01: Output: scalar / number
df.apply(function_01, axis = 0) 
#[Alternatively: df.apply(function_01, 0)]
#[Alternatively: df.apply(function_01)]

In [ ]:
# Apply function_02 to each column
# function_02: Input: column / series
# function_02: Output: scalar / number
df.apply(function_02, axis = 0) 
#[Alternatively: df.apply(function_02, 0)]
#[Alternatively: df.apply(function_02)]

In [ ]:
# Apply function_01 to each column
# function_01: Input: column / series
# function_01: Output: scalar / number
df.apply(function_01, axis = 1) 
#[Alternatively: df.apply(function_01, 0)]
#[Alternatively: df.apply(function_01)]

In [ ]:
# Apply function_01 to each column
# function_01: Input: column / series
# function_01: Output: scalar / number
df.apply(function_02, axis = 1) 
#[Alternatively: df.apply(function_01, 0)]
#[Alternatively: df.apply(function_01)]

In [ ]:
# apply function_03 to all elements in the DataFrame
df.applymap(function_03)

In [ ]:
# apply function_03 to all elements in column 'c'
df['c'].map(function_03)

### Visualisation

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series(np.random.randint(-100, 200, size=50))
s = s.cumsum()
s.head(5)

In [ ]:
s.plot()

In [ ]:
df = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
df = df.cumsum()
df.head(3)

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=pd.date_range('1/1/2000', periods=1000), columns=list('ABCD'))
df = df.cumsum()
df.plot()

In [ ]:
dict = {'a': np.random.randn(1000) + 1, 'b': np.random.randn(1000), 'c': np.random.randn(1000) - 1}
df = pd.DataFrame(dict, columns=['a', 'b', 'c'])
df.head()

In [ ]:
df.plot.hist(alpha=0.5, bins=20) #[By default: stacked = False']

In [ ]:
df.plot.hist(alpha=0.5, stacked=True, bins=20)

In [ ]:
df.plot.box()

In [ ]:
df.plot.box()

In [ ]:
# ‘bar’ or ‘barh’ for bar plots
# ‘hist’ for histogram
# ‘box’ for boxplot
# ‘kde’ or 'density' for density plots
# ‘area’ for area plots
# ‘scatter’ for scatter plots
# ‘hexbin’ for hexagonal bin plots
# ‘pie’ for pie plots

### Concact

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

In [ ]:
df1 = df[ :3]
df2 = df[3:7]
df3 = df[7: ]
print(type(df3))
pd.concat([df1, df2, df3])

In [ ]:
# You can use this to swap rows position
df1 = df[ :3]
df2 = df[3:7]
df3 = df[7: ]
pd.concat([df3, df1, df2])

### Append

In [ ]:
import numpy as np
import pandas as pddf = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
s = df.iloc[3]
df1 = df.append(s, ignore_index=True)

### Merge

In [ ]:
import numpy as np
import pandas as pd
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print('left:')
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print()
print('right:')
print(right)
pd.merge(left, right, on='key')

### Grouping

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create DataFrame
dict1 = {'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
         'B' : ['one', 'one', 'two', 'six', 'two', 'two', 'one', 'six'],
         'C' : np.random.randn(8),
         'D' : np.random.randn(8)}
df = pd.DataFrame(dict1)
df

In [ ]:
# Group by Column A
# Calculate sum in the rest of the columns
df.groupby('A').sum()

In [ ]:
# Group by Column A and B
# Calculate count in the column D
df.groupby(['A','B'])['D'].count()
#[Alternatively: df.groupby(['A','B']).D.count()]

In [ ]:
# Group by Column A and B, and
# Calculate min and max of colum C
df.groupby(['A','B']).C.agg(['min', 'max'])

In [ ]:
# Group by Column A and B
# Calculater min and max in all the other columns
df.groupby(['A','B']).agg(['min', 'max'])

In [ ]:
# Group by Column 'A' and 'B'
# Calculate min and max in 'C' and sum in 'D'
df.groupby(['A','B']).agg({'C': ['min', 'max'], 'D': 'sum'})

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
stacked = df2.stack()
unstacked = stacked.unstack()

### Pivot Tables

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
A = ['one', 'one', 'two', 'three'] *3
B = ['A', 'B', 'C'] * 4
C = ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2
D = np.random.randn(12)
E = np.random.randn(12)
df = pd.DataFrame({'A' : A, 'B' : B, 'C' : C, 'D' : D, 'E' : E})
df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=lambda x: len(x.unique()))

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)

In [ ]:
pivot_table = pd.pivot_table(df, values='D', index=['A', 'B'],  columns=['C'], aggfunc=np.sum)
type(pivot_table)

### Getting Data In/Out

In [ ]:
### CSV
# df.to_csv('foo.csv')
# pd.read_csv('foo.csv')

### hdf
# df.to_hdf('foo.h5','df')
# pd.read_hdf('foo.h5','df')

### Excel files
# df.to_excel('foo.xlsx', sheet_name='Sheet1')
# pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

### CSV
# df.to_table('foo.csv')
# pd.read_table('foo.csv')

### Object Categoricals

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df

In [ ]:
df.sort_values(by="grade")
df

In [ ]:
df
df = df.groupby("grade").size()